body{background: linear-gradient(orange, rgb(207, 71, 71), yellow,rgb(207, 71, 71)); min-height: 100vh;}

a:hover{color: aqua;}

.bola{
    color:whitesmoke;
    font-size: 18pt;}

.rafa{
    display: flex;
    margin-top: 50px;
    justify-content: center;}

.gst{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    color:rgb(64, 97, 206);
}

.white{color: white;}

.rede{
    background-image: url(insta.png);
    height: 100px;
    width: auto;
    background-size: contain;
    z-index: 3;
}

.pj{
    margin-left: 875px;
    color: rgb(63, 45, 126);
    position: relative;
    top:50px;
}