body{background: linear-gradient(black,purple); min-height: 100vh;}
.Project{
    text-align: center; color: whitesmoke;}
a:hover{color: aqua;}
a{
    margin-left: 875px; color: greenyellow;}
.Table{
    text-align: center; color: whitesmoke;
    padding: 20px;
    margin-top: 30px;
    margin-left: 50px;
}
